# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Cruft
.DS_Store

# Non-project files
*.zip
*.gz
*.tgz
*.sql

# Config files
config/database.yml

# Spree files
public/spree
