<% # select: country %>

<p class="field" id=<%="#{address_id}country" %>>
  <%= form.label :country_id, Spree.t(:country) %><span class="required">*</span><br />
  <span id=<%="#{address_id}country-selection" %>>
    <%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %>
  </span>
</p>

<%
  # if country contains states (that we know of)
  # render a <select> containing states
  # else show a text_field where you can enter it
%>

