<% content_for :body_class do %>user-info<% end %>

<div data-hook="account_summary" class="account-summary">
  <%= form_for @order, url: user_path(@user) do |form| %>
    <%= render partial: "spree/checkout/address", locals: { form: form } %>
  <% end %>
</div>
